@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
    --background: #fff0f2;
    --secondary-background: #66484d;
    --primary: #ffb6c1;
}

@theme inline {
    --color-background: var(--background);
    --color-secondary-background: var(--secondary-background);
    --color-primary: var(--primary);

    --font-playfair-display: var(--playfair-display);
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}

@utility text-4.5xl {
    font-size: 2.5rem;
    line-height: 1.1;
}

@utility text-md {
    font-size: 0.9rem;
    line-height: 1.4286;
}

.__tina-quick-editing-enabled [data-tina-field] {
    outline: 2px dashed #e77d8f;
}

.__tina-quick-editing-enabled [data-tina-field]:hover {
    outline: 2px dashed #e47688;
    box-shadow: inset 100vi 100vh #f1899a50;
}

::-moz-selection {
    background: #ff7f926b;
    color: #000000;
}

::selection {
    background: #ff7f926b;
    color: #000000;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #00000007;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0000003a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00000059;
}

body {
    font-family: var(--inter);
    font-weight: 500;
    scrollbar-width: thin;
    scrollbar-color: #0000003a #00000007;
    scrollbar-gutter: stable both-edges;
}

@view-transition {
    navigation: auto;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

::view-transition-old(root) {
    animation: 180ms ease-out both fade-out;
}

::view-transition-new(root) {
    animation: 180ms ease-in 10ms both fade-in;
}

@utility primary-button {
    @apply px-4 py-2 bg-primary rounded-2xl text-nowrap cursor-pointer transition-colors duration-300 hover:bg-primary/80;
}

@utility secondary-button {
    @apply px-4 py-2 bg-neutral-400/10 rounded-2xl text-nowrap cursor-pointer transition-colors duration-300 hover:bg-neutral-400/15;
}

@utility underline-hover {
    position: relative;
}

.underline-hover::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background: #000000;
    transition: all 0.3s ease-in-out;
}

.underline-hover:hover::after {
    width: 100%;
}

.loader {
    position: relative;
    width: 48px;
    height: 48px;
    border: 5px solid var(--primary);
    border-radius: 50%;
    display: inline-block;
    animation: pulse 1s linear infinite;
}

.loader::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid var(--primary);
    border-radius: 50%;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    60%,
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes pulse {
    0%,
    60%,
    100% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.2);
    }
}
